/* #region Google Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Indie+Flower&family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Indie+Flower&family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap");
/* #endregion */

body {
  font-family: "Press Start 2P";
  background-color: #2b2b2b; /* Dark arcade background */
  color: #ffffff;
  padding: 20px;
}

.nav {
  background-color: rgb(215, 215, 194);
  width: 100%;
  padding: 1em 0;
  border-radius: 3px;
}

.nav a {
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  margin-left: 0.5em;
}

.nav a:hover {
  text-decoration: underline;
}

.nav input {
  border-radius: 4px;
  float: right;
  margin-right: 0.5em;
  font-family: "Pixelify Sans";
}

button {
  font-family: "Press Start 2P";
}

.header {
  text-align: center;
  color: rgb(215, 215, 194);
  margin-bottom: 40px;
  line-height: 1.8;
}

.rikishi-grid {
  display: grid;
  /* Fits as many 280px cards as possible */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  gap: 30px;
  max-width: 100px;
  margin: 0 auto; /* Centers the grid on the page */
}

.pixel-card {
  background-color: #e3c58b;
  color: #000;
  padding: 15px;
  box-shadow:
    inset -4px -4px 0px 0px rgba(0, 0, 0, 0.3),
    inset 4px 4px 0px 0px rgba(255, 255, 255, 0.7),
    0 0 0 4px #000; /* Outer solid black border */
  transition: transform 0.1s;
}

.pixel-card:hover {
  transform: translateY(-5px); /* Card hops up slightly */
}

.card-image-container {
  width: 100%;
  height: 480px;
  background-color: #8b0000;
  border: 4px solid #000;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pixel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}

.rikishi-name {
  font-size: 16px;
  margin-top: 15px;
}

.rikish-rank,
.rikishi-stable {
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.pixel-btn {
  background-color: #d32f2f;
  color: white;
  border: 4px solid #000;
  padding: 12px;
  width: 100%;
  cursor: pointer;
  font-size: 12px;
  margin-top: 10px;
  box-shadow: inset -4px -4px 0px 0px rgba(0, 0, 0, 0.4);
}

.pixel-btn:hover {
  background-color: #f44336;
}

.pixel-btn:active {
  box-shadow: inset 4px 4px 0px 0px rgba(0, 0, 0, 0.6);
  transform: translateY(2px);
}
